body {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.navbar {
    width: 200px;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.navbar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    margin-bottom: 5px;
    border-radius: 5px;
}
.navbar a:hover {
    background-color: #ddd;
}
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}
.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}
.flash-messages {
    list-style-type: none;
    padding: 0;
}
.flash-message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
}



.folder-icon {
    display: flex;
    align-items: center;
    padding: 10px;
}

.folder-icon i {
    font-size: 52px; 
    margin-right: 10px; 
}