{% extends "base.html" %}

{% block title %}BE - File Browser{% endblock %}

{% block content %}
    <h1>Fourth Year Engineering (BE)</h1>
    <ul>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='BE', subpath='QUESTION PAPERS') }}">Question Papers</a>
            </div>
        </li>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='BE', subpath='DECODE') }}">Decode</a>
            </div>
        </li>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='BE', subpath='BOOKS') }}">Textbooks</a>
            </div>
        </li>
    </ul>

  
{% endblock %}
