{% extends "base.html" %}

{% block title %}FE - File Browser{% endblock %}

{% block content %}
    <h1>First Year Engineering (FE)</h1>
    <ul>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='FE', subpath='QUESTION PAPERS') }}">Question Papers</a>
            </div>
        </li>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='FE', subpath='DECODE') }}">Decode</a>
            </div>
        </li>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='FE', subpath='BOOKS') }}">Textbooks</a>
            </div>
        </li>
    </ul>
{% endblock %}
