{% extends "base.html" %}

{% block title %}Home - File Browser{% endblock %}

{% block content %}
<h1>Welcome to FileShare</h1>

<p>THis is your go-to platform for academic resources. Whether you're a FE student or completing your final year, we've got you covered.</p>

<div class="weo">
<h2>What We Offer:</h2>
<div>

<ul>
    <li>Easy access to study materials for FE, SE, TE, and BE courses</li>
    <li>A user-friendly interface to browse and download files</li>
    <li>Secure login system to protect your data</li>
</ul>

<p>Get started by logging in or registering for an account. Navigate through our organized categories to find exactly what you need for your studies.</p>

<p>FileShare: Empowering your academic journey, one file at a time.</p>
{% endblock %}
