{% extends "base.html" %}

{% block title %}SE - File Browser{% endblock %}

{% block content %}
    <h1>Second Year Engineering (SE)</h1>
    <ul>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='SE', subpath='QUESTION PAPERS') }}">Question Papers</a>
            </div>
        </li>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='SE', subpath='DECODE') }}">Decode</a>
            </div>
        </li>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='SE', subpath='BOOKS') }}">Textbooks</a>
            </div>
        </li>
    </ul>

 
{% endblock %}
