{% extends "base.html" %}

{% block title %}TE - File Browser{% endblock %}

{% block content %}
    <h1>Third Year Engineering (TE)</h1>
    <ul>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='TE', subpath='QUESTION PAPERS') }}">Question Papers</a>
            </div>
        </li>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='TE', subpath='DECODE') }}">Decode</a>
            </div>
        </li>
        <li>
            <div class="folder-icon">
                <i class="fa-solid fa-folder"></i>
                <a href="{{ url_for('browse_files', category='TE', subpath='BOOKS') }}">Textbooks</a>
            </div>
        </li>
    </ul>


{% endblock %}
